.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
build
.classpath
.project
.settings
.cache-main
.cache-tests
.scala_dependencies
.worksheet